In [1]:
import numpy as np
import pandas as pd
import plotly

In [2]:
df = pd.read_csv(
    filepath_or_buffer="project1_df.csv"
)

In [3]:
df.head()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi

In [4]:
df.shape

(55000, 13)

In [5]:
len(df["CID"].unique())

29071

In [6]:
columns = df.columns
mapper = dict()
for column in columns:
    new_column = column.lower().replace(" ", "_")
    mapper[column] = new_column

df = df.rename(mapper, axis="columns")

In [7]:
df.columns

Index(['cid', 'tid', 'gender', 'age_group', 'purchase_date',
       'product_category', 'discount_availed', 'discount_name',
       'discount_amount_(inr)', 'gross_amount', 'net_amount',
       'purchase_method', 'location'],
      dtype='object')

In [8]:
df.head()

,cid,tid,gender,age_group,purchase_date,product_category,discount_availed,discount_name,discount_amount_(inr),gross_amount,net_amount,purchase_method,location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55000 entries, 0 to 54999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cid                    55000 non-null  int64
 1   tid                    55000 non-null  int64
 2   gender                 55000 non-null  object
 3   age_group              55000 non-null  object
 4   purchase_date          55000 non-null  object
 5   product_category       55000 non-null  object
 6   discount_availed       55000 non-null  object
 7   discount_name          27415 non-null  object
 8   discount_amount_(inr)  55000 non-null  float64
 9   gross_amount           55000 non-null  float64
 10  net_amount             55000 non-null  float64
 11  purchase_method        55000 non-null  object
 12  location               55000 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 5.5+ MB

In [10]:
df['purchase_date'] = pd.to_datetime(df['purchase_date'])

/var/folders/_y/k1q27vwx5gvc869_d2q4klx00000gn/T/ipykernel_2796/2933197005.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['purchase_date'] = pd.to_datetime(df['purchase_date'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55000 entries, 0 to 54999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   cid                    55000 non-null  int64
 1   tid                    55000 non-null  int64
 2   gender                 55000 non-null  object
 3   age_group              55000 non-null  object
 4   purchase_date          55000 non-null  datetime64[ns]
 5   product_category       55000 non-null  object
 6   discount_availed       55000 non-null  object
 7   discount_name          27415 non-null  object
 8   discount_amount_(inr)  55000 non-null  float64
 9   gross_amount           55000 non-null  float64
 10  net_amount             55000 non-null  float64
 11  purchase_method        55000 non-null  object
 12  location               55000 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(7)
memory usage: 5.5+ MB

In [12]:
df.head()

,cid,tid,gender,age_group,purchase_date,product_category,discount_availed,discount_name,discount_amount_(inr),gross_amount,net_amount,purchase_method,location
0,943146,5876328741,Female,25-45,2023-08-30 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,2024-02-23 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,2022-03-06 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,2020-11-04 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,2022-05-31 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi

In [13]:
df['net_amount'] = np.round(df['net_amount'], decimals=2)

In [14]:
df.head()

,cid,tid,gender,age_group,purchase_date,product_category,discount_availed,discount_name,discount_amount_(inr),gross_amount,net_amount,purchase_method,location
0,943146,5876328741,Female,25-45,2023-08-30 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.00,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,2024-02-23 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.80,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,2022-03-06 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.83,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,2020-11-04 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.61,Debit Card,Delhi
4,447553,8009390577,Male,18-25,2022-05-31 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.73,Credit Card,Delhi

In [15]:
gender_net_amount = (
    df
    .groupby('gender')
    .agg(net_amount=("net_amount", "sum"))
    .sort_values(by="net_amount", ascending=False)
)

In [16]:
gender_net_amount

         net_amount
gender
Other   53563211.66
Female  52713318.23
Male    51900709.48

In [17]:
product_category_net_amount = (
    df
    .groupby('product_category')
    .agg(net_amount=("net_amount", "sum"))
    .sort_values(by="net_amount", ascending=False)
)

In [18]:
product_category_net_amount

                    net_amount
product_category
Electronics        47482567.41
Clothing           31220376.91
Beauty and Health  24185519.57
Sports & Fitness   16139834.38
Home & Kitchen     15892593.88
Books               7932802.11
Other               6209625.96
Pet Care            4637087.78
Toys & Games        4476831.37

In [20]:
import plotly.express as px

# ---- Aggregate data ----
product_category_net_amount = (
    df
    .groupby('product_category', as_index=False)
    .agg(net_amount=("net_amount", "sum"))
    .sort_values(by="net_amount", ascending=True)  # ascending for horizontal bars
)

# ---- Plot ----
fig = px.bar(
    product_category_net_amount,
    x="net_amount",
    y="product_category",
    orientation="h",
    color_discrete_sequence=["#7EC8E3"],  # light blue
    title="Net Amount by Product Category",
    template="plotly_dark",
    text="net_amount"  # data labels
)

# ---- Layout tweaks ----
fig.update_traces(
    texttemplate="%{text:,.0f}",  # format numbers
    textposition="outside"
)

fig.update_layout(
    xaxis_title="Net Amount",
    yaxis_title="Product Category",
    showlegend=False,
    height=600,
    margin=dict(l=120, r=80, t=60, b=40)
)

fig.show()